body {
  font-family: 'Roboto', sans-serif;
  background-image: url(./11276231.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 5vh;
}
a {
  background-color: rgba(red, green, blue, alpha);
}
h1 {
  color: blue;
  background-color: antiquewhite;
  font-size: 70px;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
}

p {
  color: blue;
  background-color: aliceblue;
  font-size: 18px;
  font-weight: 600;
}

.text-crimson {
  color: rgb(17, 246, 116);
  font-size: 22px;
  font-weight: 600;
}
.narrow {
  width: 15px;
}
