.header {
  padding: 60px;
  text-align: center;
  background: #f59b00;
  color: rgb(0, 0, 0);
  font-size: 30px;
}
button {
  background-color: aliceblue;
  width: 150px;
  height: 100px;
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100px black;
}
button:hover {
  background-color: rgb(255, 136, 0);
}
button:active {
  background-color: #e6f609;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
